.Footer {
  border: 1px solid rgb(61, 61, 61);
  padding: 10px;
  margin: 5px;
  grid-area: f;
  background-color: rgb(189, 129, 160);

}

.Contacts {
  font-size: larger;
  text-decoration: none;
  background: 0;
}

h1 {
  background: 0;
}

p {
  background: 0;
}